body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pricing-card h2 {
  font-size: 24px;
  color: #333;
}

.pricing-card .price {
  font-size: 32px;
  color: #007bff;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
}

.pricing-card ul li {
  margin-bottom: 10px;
}

.pricing-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pricing-card:hover {
    background-color: #f5f5f5;
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.pricing-card button:hover {
  background-color: #0056b3;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .pricing-card {
        width: 100%;
    }
}
